<div class="sg-color">
	<div class="sg-color__preview" style="height: 20px; background-color: {{ .Get "hex" }}"></div>
	<span class="sg-color__name">{{ .Get "name" }}</span>
	<span class="sg-color__hex">{{ .Get "hex" }}</span>
	<span class="sg-color__rgb">{{ .Get "rgb" }}</span>
</div>
