<div class="sg-color u-margin-bottom {%- if include.variant -%}sg-color--{{ include.variant }}{%- endif -%}"
  style="float:left">

  <div class="sg-color__preview" style="height: 20px; background-color: {{ include.hex }}"></div>

  <div class="sg-color__name">{{ include.name }}</div>
  {%- if include.hex -%}
  <div class="sg-color__hex">hex: {{ include.hex }}</div>
  {%- endif -%}
  {%- if include.rgba -%}
  <div class="sg-color__rgba">rgba: {{ include.rgba }}</div>
  {%- endif -%}
</div>
