{% assign stories = site.data.component_stories %}
{% assign kind = stories[include.kind] | default: stories[page.title].kind | url_encode | prepend: "selectedKind=" %}
{% assign story = include.story | default: stories[page.title].stories.first | url_encode | prepend: "selectedStory=" %}
{% assign urlBase = include.urlBase | default: site.componentsurl %}
{% assign src = urlBase | append: "iframe.html?" | append: kind | append: "&" | append: story %}

<div class="sg-component-example u-margin-bottom">
  <iframe class="sg-component-example__iframe" src="{{ src }}" style="border: 0; min-height: 200px; width: 100%;"></iframe>
</div>
