<footer class="c-footer clearfix">
  <div class="footer__content container u-margin-top u-margin-bottom">
    <ul class="footer__links">
      <li>
        <a class="footer__link" href="http://www.zilverenkruis.nl" target="_blank">Zilveren Kruis</a>
      </li>
    </ul>
  </div>
</footer>
