
{% assign pageUrlArray = page.url | split: "/" %}
{% assign pageUrl = pageUrlArray[1]  %}

{% assign navItems = site.data.nav_top html_pages | sort: 'url' %}
{% assign activeClass = include.activeClass | default: "active" %}

<nav class="c-masthead__bottom-nav">
  <ul class="c-nav c-nav--main">
    {% for navItem in navItems %}
    {% assign navItemUrlStriped = navItem.url | remove: "/" %}
    <li class="c-nav__item">
      <a class="c-nav__link c-nav__link--btn {% if pageUrl == navItemUrlStriped %}{{ activeClass }}{% endif %}" href="{{ navItem.url | relative_url }}">{{ navItem.title }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
