{% assign pageUrlArray = page.url | split: "/" %}
{% assign pageUrl = pageUrlArray[1] %}

<nav class="sg-nav sg-nav--side">
  {% if pageUrl == "design" %}
    <span>System</span>
    {% include nav-dynamic.html root="/design/system" %}

    <span>Foundation</span>
    {% include nav-dynamic.html root="/design/foundation" %}

    <span>Guidelines</span>
    {% include nav-dynamic.html root="/design/guidelines" %}
  {% else %}
    <span>Components</span>
    {% include nav-dynamic.html root="/develop/components" %}

    <span>Documents</span>
    {% include nav-dynamic.html root="/develop/documentation" %}
  {% endif %}
</nav>
