<header class="mdc-toolbar mdc-toolbar--fixed
    {% if include.no_shadow %}mdc-toolbar--no-shadow{% endif %}
    {% if include.is_root %}mdc-toolbar--root{% else %}mdc-toolbar--platform{% endif %}">
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      <a class="mdc-toolbar__title-link" href="{{ include.title_link | default: site.rootpath + page.basepath }}">
        <h1 class="mdc-toolbar__title mdc-toolbar__title--full">
          {{ include.title }}
        </h1>
      </a>

      {% include toolbar-platform-chooser.html %}
    </section>
    <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
      {% include toolbar-nav.html is_root=include.is_root %}
    </section>
  </div>
</header>
