---
layout: default
---
<div class="container">
  <header class="page__header">
    <h1 class="page__title">{{ page.title | escape }}</h1>
  </header>
  <p class="lead">{{ page.lead | escape }}</p>
</div>

<div class="container">
{{ content }}
</div>
