---
layout: default
---
{% include nav-side.html %}

<div class="page__flex-element">
  <div class="page__content">
    <article class="page__article">
      {{ content }}
    </article>
  </div>
</div>

