---
layout: default
---

{% include nav-side.html %}

<article class="page__article">

  <header class="page__header">
    <h1 class="page__title">{{ page.title | escape }}</h1>
  </header>

  <div class="page__content">
    {{ content }}
  </div>

</article>
